# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
# Proyecto usa npm + package-lock; evitar yarn.lock para que Vercel no ejecute yarn.
yarn.lock

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

img-20260323T053936Z-1-001
netfly